<div class="row">
  <div class="col-xs-8">
    <h1>New gist</h1>
  </div>
  <div class="col-xs-4">
    <div class="pull-right">
      <%= link_to gists_path, class:"btn btn-danger" do %>
          <i class="glyphicon glyphicon-backward"></i> Back
      <% end %>
    </div>
  </div>
</div>

<hr/>
<%= render 'form' %>

